body {
    font-family: 'Roboto', sans-serif;
}

.section-title {
    font-family: 'Comfortaa', cursive;
}

.text-colored {
    color: #892d48;
}

.navbar img {
    height: 30px;
}

.navbar-toggler {
    background-color: #fff;
}

.navbar {
    background-color: #892d48;
}

#cabecalho .nav .nav-link.active {
    background-color: #fff;
    color: #892d48;
}

#projetos .nav-link.active, 
#projetos .nav-link.active:hover {
    background-color: #892d48;
    color: #fff;
}

#projetos .nav-link:hover {
    color: #892d48;
}

#cabecalho .nav .nav-link,
#cabecalho h1 {
    color: #fff;
    
}

.carousel-inner {
    max-height: 550px;
}

.carousel-item img {
    width: 100%;
    overflow: hidden;
}

.col-md-4 img {
    height: 300px;
    width: 300px;
    object-fit: cover;
    -webkit-mask-size: cover;
    mask-size: cover;
}

.foto-capa {
    max-height: 200px;
    width: 100%;
    object-fit: cover;
    -webkit-mask-size: cover;
    mask-size: cover;
}

.social-links li {
    list-style: none;
    display: block;
}

.btn-primary,
form .btn {
    background-color: #892d48;
    border: none;
}

.btn-primary:hover, 
form .btn:hover {
    background-color: #551c2d;
    border: none;
    color: #fff;
}

.rede,
form .btn {
    color: #fff;
}

.social-links a {
    text-decoration: none;
    color: black;
}

.form-label {
    font-family: 'Comfortaa', cursive;
}

@media (max-width: 767px) {
    .carousel-item img {
        height: 280px;
        object-fit: cover;
        -webkit-mask-size: cover;
        mask-size: cover;
    }

    
}